body {
  margin: 20px;
  color: black;
}

button {
  display: none;
  width: 100%;
  padding: 8px 0;
  margin: 8px auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

p {
  border-bottom: 1px dashed #bbb;
}

#pictureUrl {
  margin: 0 auto;
  width: 32%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
}

.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: block;
}
.login-content {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% auto;
}
.login-toolbar {
  justify-content: center;
}
button {
  display: none;
  width: 100%;
  padding: 8px 0;
  margin: 8px auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.color {
  width: 100%;
  padding: 8px 0;
  margin: 8px auto;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  color: white;
}
.TextBox {
  border-radius: 8px;
}
